{
  "extends": "loopback",
  "rules": {
    "prefer-arrow-callback": ["error", {"allowNamedFunctions": true}],
    "max-len": ["error", { "ignoreStrings": true }]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
